<div class="container-bg py-2">
    <div class="container">
        <div class="d-flex justify-content-between row">
            <div class="col-4 flex-fill row align-items-center">
                <div class="col-4 mt-2">
                    <a class="" href="#">
                        <img height="100px" width="100px" style="border-radius: 100px;" src="/img/logo.png" />
                    </a>
                    <div style="height: 100px;">

                    </div>
                </div>
                <div class="col-8 d-flex align-items-center">
                    <div>

                        <h1>Music Pro</h1>
                        <div style="height: 100px;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 d-flex align-items-center">
                <div class="col-5">
                    <h1 class="">Encuentranos</h1>
                    <div class="align-items-center d-flex" style="height: 100px;">
                        <p>Estamos ubicados en ....</p>
                    </div>
                </div>
                <div class="col-5">
                    <h1>Síguenos</h1>
                    <div class="align-items-center d-flex gap-2" style="height: 100px;">
                        <a class="" href="#">
                            <img height="40px" width="40px" style="border-radius: 100px;" src="/img/facebook.png" />
                        </a>
                        <a class="" href="#">
                            <img height="40px" width="40px" style="border-radius: 100px;" src="/img/instagram.png" />
                        </a>
                        <a class="" href="#">
                            <img height="40px" width="40px" style="border-radius: 100px;" src="/img/tik-tok.png" />
                        </a>
                        <a class="" href="#">
                            <img height="40px" width="40px" style="border-radius: 100px;" src="/img/twitter.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>