{{> head}}
{{> header}}
<!--Body-->
<div class="container px-5 my-5">
    <div class="d-flex my-4">
        <h1>Datos de envío</h1>
    </div>

    <div class="container-bg py-2 rounded-5 pt-4">
        <div class="d-flex row py-2 align-items-center justify-content-center">
            <div class="col-4">
                <input class="w-100 form-control" id="rut" placeholder="Ingresa tu rut" maxlength="12"/>
                <p class="m-0 hide" id="rut-label">Debes ingresar un rut válido</p>
            </div>
        </div>
        <div class="d-flex row py-2 align-items-center justify-content-center">
            <div class="col-4">
                <input class="w-100 form-control" id="direccion" placeholder="Ingresa tu direccion" maxlength="50"/>
                <p class="m-0 hide" id="direccion-label">Debes ingresar una dirección</p>
            </div>
        </div>
        <div class="d-flex row py-2 align-items-center justify-content-center">
            <div class="col-4">
                <input class="w-100 form-control" id="nombre" placeholder="Ingresa tu nombre" maxlength="50"/>
                <p class="m-0 hide" id="nombre-label">Debes ingresar un nombre</p>
            </div>
        </div>
        <div class="d-flex row py-2 align-items-center justify-content-center">
            <div class="col-4">
                <input class="w-100 form-control" id="apellido" placeholder="Ingresa tu apellido" maxlength="50"/>
                <p class="m-0 hide" id="apellido-label">Debes ingresar un apellido</p>
            </div>
        </div>
        <div class="d-flex row py-2 align-items-center justify-content-center">
            <div class="col-4">
                <input class="w-100 form-control" id="telefono" placeholder="Ingresa tu telefono" maxlength="9"/>
                <p class="m-0 hide" id="telefono-label">Debes ingresar un teléfono válido (Ej: 912345678)</p>
            </div>
        </div>
        <div class="d-flex row py-2 align-items-center justify-content-center">
            <div class="col-4">
                <input class="w-100 form-control" id="correo" placeholder="Ingresa tu correo" maxlength="50"/>
                <p class="m-0 hide" id="correo-label">Debes ingresar un correo válido</p>
            </div>
        </div>
        <div class="col-12 py-4">
            <div class="d-flex justify-content-center">
                <button onclick="finalizarCompra()" class="btn btn-secondary btn-lg px-4">Finalizar compra</button>
            </div>
        </div>
    </div>

</div>
{{> footer}}