<form id="form" action={{url}} method="POST">
   <input type="hidden" name="token_ws" value={{token}}/>
</form>
<script>
  // Obtener referencia al formulario
  var form = document.getElementById("form");

  // Enviar el formulario automáticamente
  form.submit();
</script>