{{> head}}
{{> header}}
<!--Body-->
<div class="container px-5 my-5">
    <div class="d-flex justify-content-center align-itmes-center">
        <div class="row gap-3">
            <div class="col-12 justify-content-center d-flex">
                <h1>Inicio de sesión</h1>
            </div>
            <form action="" class="">
                <div class="col-12 justify-content-center d-flex mb-4">
                    <input class="form-control form-control-lg" type="email" placeholder="Ingresa tu e-mail" required>
                </div>
                <div class="col-12 justify-content-center d-flex mb-4">
                    <input class="form-control form-control-lg" type="text" placeholder="Ingresa tu contraseña"
                        required>
                </div>
                <div class="col-12 justify-content-center d-flex">
                    <button type="button" class="btn btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{> footer}}