
/*Header*/
body {
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


li {
    list-style-type: none !important;
}

button::after {
    content: none !important;
}

.link-basic {
    color: black !important;
    text-decoration: none !important;
}

.link-basic:focus {
    box-shadow: none!important;
}

li a:active {
    background-color: black !important;
}

.link-item:hover {
    background-color: #00000010 !important;
}

#btn-categorias-menu:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
}

.container-bg {
    background-color: #F3F3F3 !important;
}

.content {
    min-height: calc(100% - 224px) !important; /* Resta la altura del footer */
  }

/* Footer */
.footer-position {
    margin-top: auto;
  }