
/*Header*/
body {
    margin: 0px;
    height: 0px;
    background-color: #E9E9E9;
}


li {
    list-style-type: none !important;
}

button::after {
    content: none !important;
}

.link-basic {
    color: black !important;
    text-decoration: none !important;
}

li a:active{
    background-color: black !important;
}

.link-item:hover{
    background-color: #00000010 !important;
}

#btn-categorias-menu:focus{
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
}

.container-bg{
    background-color: #F3F3F3;
}

/* Footer */

